<div class="center-div" id="fond">
    <div class="p-grid">
        <div class="p-col-12">
            <h2><img src="./assets/images/circle-ec.png" alt=""></h2>
            <h2> Connexion :</h2>
        </div>
        <div class="p-col-12">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="center-div">
                <div *ngIf="error">
                    <p-message severity="error" text="Oups ! Echec lors de la connexion, vérifier votre e-mail / mot de passe."></p-message>
                </div>
                <div *ngIf="errorUserAndPassword">
                    <p-message severity="error" text="L'adresse e-mail ET / OU mot de passe incorrecte"></p-message>
                </div>
                E-mail : <br>
                <input type="text" formControlName="email" pInputText placeholder="mail@easycomposer.com" />
                <br> Mot de passe : <br><input formControlName="password" type="password" pPassword /><br><br>
                <button pButton type="submit" label="Connexion" icon="pi pi-sign-in"></button>
                <button pButton type="button" label="Register" class="ui-button-info" routerLink='/register' icon="pi pi-user-plus"></button>
            </form>
        </div>
    </div>
</div>