<div class="center-div">
    <div class="p-grid">
        <div class="p-col-12">
            <h2><img src="./assets/images/logo3_resize.png" alt=""></h2>
            <h2> Création de compte :</h2>
            <div *ngIf="errorCreateUser">
                <p-message severity="error" text="Oups ! Une erreur c'est produite lors de la création du compte, veuillez recommencer l'opération"></p-message>
            </div>
            <div *ngIf="successCreateUser">
                <p-message severity="success" text="Super ! Votre compte a bien été crée, vous allez être rediriger vers la page de connexion dans 5 secondes"></p-message>
            </div>
        </div>
        <div class="p-col-12">
            <!-- DEBUT FORM GROUP -->
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="center-div">

                <!-- Email -->
                E-mail* : <br>
                <input type="text" formControlName="email" pInputText placeholder="mail@easycomposer.com" [ngClass]="{ 'is-invalid': submitted && formField.email.errors }" />
                <div *ngIf="submitted && formField.email.errors">
                    <div *ngIf="formField.email.errors">
                        <p-message severity="error" text="e-mail invalid"></p-message>
                    </div>
                    <div *ngIf="formField.email.errors.required">
                        <p-message severity="error" text="L'adresse e-mail est requise"></p-message>
                    </div>
                </div>
                <!-- Fin Email -->

                <!-- Mdp -->
                <br> Mot de passe* : <br><input type="password" formControlName="password" pPassword [ngClass]="{ 'is-invalid': submitted && formField.password.errors }" />
                <div *ngIf="submitted && formField.password.errors">
                    <div *ngIf="formField.password.errors.required">
                        <p-message severity="error" text="Le mot de passe est requis"></p-message>
                    </div>
                    <div *ngIf="formField.password.errors.minlength">
                        <p-message severity="error" text="Le mot de passe doit comporter au minimum 8 caractères, 1 majuscule et 1 chiffre"></p-message>
                    </div>
                </div>
                <!-- Fin Mdp -->

                <!-- Confirme Mdp -->
                <br> Confirmer le mot de passe* : <br><input type="password" formControlName="confirmPassword" pPassword [ngClass]="{ 'is-invalid': submitted && formField.confirmPassword.errors }" />
                <div *ngIf="submitted && formField.confirmPassword.errors">
                    <div *ngIf="formField.confirmPassword.errors.required">
                        <p-message severity="error" text="Le mot de passe est requis"></p-message>
                    </div>
                    <div *ngIf="formField.confirmPassword.errors.minlength">
                        <p-message severity="error" text="Le mot de passe doit comporter au minimum 8 caractères, 1 majuscule et 1 chiffre"></p-message>
                    </div>
                </div>
                <!-- Fin Confirme Mdp -->

                <!-- User -->
                <br> Nom d'utilisateur* : <br>
                <input type="text" pInputText formControlName="username" [ngClass]="{ 'is-invalid': submitted && formField.username.errors }" />
                <div *ngIf="submitted && formField.username.errors">
                    <div *ngIf="formField.username.errors.required">
                        <p-message severity="error" text="Nom d'utilisateur est requis"></p-message>
                    </div>
                </div>
                <!-- Fin User -->
                <br><br>
                <button pButton type="button" label="Créer" icon="pi pi-user-plus" type="submit"></button>
                <button pButton type="button" label="Annuler" class="ui-button-danger" routerLink='/login' icon="pi pi-times"></button>

                <!-- FIN FORM GROUP -->
            </form>
        </div>
    </div>
</div>