.center-div {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    color: whitesmoke;
}

input {
    width: 500px;
    text-align: center;
}

button {
    width: 250px;
}