<header Access-Control-Allow-Origin: *></header>
<p-menubar [model]="items">
    <div>
        <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
            <ng-template let-message pTemplate="message">
                <div style="text-align: center">
                    <i class="pi pi-sign-out" style="font-size: 3em"></i>
                    <h3>{{message.summary}}</h3>
                    <p>{{message.detail}}</p>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-6">
                        <button type="button" pButton routerLink='/login' label="Oui" class="ui-button-success" (click)="onConfirm()"></button>
                    </div>
                    <div class="ui-g-6">
                        <button type="button" pButton routerLink='/home' label="Non" class="ui-button-secondary" (click)="onReject()"></button>
                    </div>
                </div>
            </ng-template>
        </p-toast>
        <button pButton type="button" label="Deconnexion" class="ui-button-danger" (click)="showConfirm()"></button>
    </div>
</p-menubar>