<div>
    <ngx-spinner bdOpacity=1 bdColor="#000000" size="medium" color="#f1ff00" type="ball-8bits" [fullScreen]="false">
        <!-- <img src="./assets/images/logo3.png" alt=""> -->
        <h2 style="color: rgb(255, 255, 255)"> <img src="./assets/images/licorne_gif.gif"> ...Rock'N'Roll is coming... <img src="./assets/images/licorne_reverse_gif.gif"></h2>
    </ngx-spinner>
</div>