<header Access-Control-Allow-Origin: *></header>
<div class="p-grid">
    <div class="p-col-12">
        <h2 class="titre">Mon Compte : </h2>
        <h2 class="titre">Bienvenue dans votre espace personnel {{usernameUserConnected}} !</h2>
    </div>
    <!-- ChangeMail -->
    <div class="p-col-12">
        <form [formGroup]="changeEmailForm" (ngSubmit)="changerEmail()">
            <p-panel>
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">E-mail :</span>
                        <button pButton type="button" icon="pi pi-pencil" label="Modifier" class="ui-button-warning" style="float: right;" (click)="activerFormEmail()"></button>
                    </div>
                </p-header>
                <div>
                    <h3>E-mail actuel : {{emailActuel}}</h3>
                    Nouvel e-mail :
                    <input type="email" formControlName="newEmail" pInputText placeholder="mail@easycomposer.com" />
                </div>
                <p-footer>
                    <button [disabled]="!activerModifEmail" pButton type="submit" icon="pi pi-save" label="Sauvegarder" class="ui-button-info" style="margin-right: .25em"></button>
                    <div *ngIf="newEmailSuccess">
                        <p-message severity="success" text="Votre nouvelle adresse e-mail a bien été enregistrée !"></p-message>
                    </div>
                    <div *ngIf="errorNewEmail">
                        <p-message severity="error" text="L'adresse e-mail saisie n'est pas valide !"></p-message>
                    </div>
                </p-footer>
            </p-panel>
        </form>
    </div>
    <!-- /ChangeMail -->
    <!-- ChangeUsername -->
    <div class="p-col-12">
        <form [formGroup]="changeUsernameForm" (ngSubmit)="changeUsername()">
            <p-panel>
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Nom d'utilisateur :</span>
                        <button pButton type="button" icon="pi pi-pencil" label="Modifier" class="ui-button-warning" style="float: right;" (click)="activerFormUsername()"></button>
                    </div>
                </p-header>
                <h3>Nom d'utilisateur actuel : {{usernameUserConnected}}</h3>Nouveau nom d'utilisateur :
                <input type="text" formControlName="newUsername" pInputText placeholder="BobDylanDu86" />
                <p-footer>
                    <button [disabled]="!activerModifUsername" pButton type="submit" icon="pi pi-save" label="Sauvegarder" class="ui-button-info" style="margin-right: .25em"></button>
                    <div *ngIf="successUsernameChange">
                        <p-message severity="success" text="Votre nouveau nom d'utilisateur a bien été enregistrée !"></p-message>
                    </div>
                    <div *ngIf="errorUsernameChange">
                        <p-message severity="error" text="Une erreur c'est produite !"></p-message>
                    </div>
                </p-footer>
            </p-panel>
        </form>
    </div>
    <!-- /ChangeUsername -->

    <!-- ChangePassword -->
    <div class="p-col-12">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <p-panel>
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Mot de passe :</span>
                        <button pButton type="button" icon="pi pi-pencil" label="Modifier" class="ui-button-warning" style="float: right;" (click)="activerFormPassword()"></button>
                    </div>
                </p-header>
                Mot de passe actuel :
                <input formControlName="passwordActuel" type="password" pPassword /> <br> Nouveau mot de passe : <input formControlName="newPassword" type="password" pPassword /><br> Confirmer le mot de passe :
                <input formControlName="newPasswordConfirmed" type="password" pPassword />
                <p-footer>
                    <button [disabled]="!activerModifPassword" pButton type="submit" icon="pi pi-save" label="Sauvegarder" class="ui-button-info" style="margin-right: .25em"></button>
                    <div *ngIf="succesPasswordChange">
                        <p-message severity="success" text="Votre nouveau mot de passe a bien été pris en compte !"></p-message>
                    </div>
                    <div *ngIf="errorNewPassword">
                        <p-message severity="error" text="Mot de passe incorecte !"></p-message>
                    </div>
                </p-footer>
            </p-panel>
        </form>
    </div>
    <!-- /ChangePassword -->
    <!-- feebackForm -->
    <div class="p-col-12">
        <form [formGroup]="postFeedbackForm" (ngSubmit)="postFeeback()">
            <p-panel>
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Nous vous écoutons </span>
                    </div>
                </p-header>
                <div class="ui-grid-col-12">
                    <p class="centerTexte">Quelle note donnez-vous à l'application EasyComposer ? (1 Très mauvaise - 10 Au top !)</p>
                    <p-rating [(ngModel)]="note" stars="10" [ngModelOptions]="{standalone: true}" class="centerTexte"></p-rating>
                    <p class="centerTexte">Votre note : {{note}}</p>
                </div><br>
                <div class="ui-grid-col-4">
                    <p-dropdown [options]="sexe" formControlName="sexeFeedback"></p-dropdown>
                </div>
                <div class="ui-grid-col-4">
                    <p-dropdown [options]="age" formControlName="ageFeedback"></p-dropdown>
                </div>
                <div class="ui-grid-col-4">
                    <p-dropdown [options]="experience" formControlName="experienceFeedback"></p-dropdown>
                </div>

                <textarea pInputTextarea placeholder="Donnez-nous votre avis ;-)" id="texte-avi" formControlName="avisFeedback"></textarea>
                <p-footer>
                    <button pButton type="submit" icon="pi pi-upload" label="Envoyer" class="ui-button-info" style="margin-right: .25em"></button>
                    <div *ngIf="postFeedbackSuccess">
                        <p-message severity="success" text="Merci d'avoir donné votre avi !"></p-message>
                    </div>
                    <div *ngIf="postFeedbackFailed">
                        <p-message severity="error" text="Vous devez au moins mettre une note !"></p-message>
                    </div>
                </p-footer>
            </p-panel>
        </form>
    </div>
    <!-- /feebackForm -->
    <!-- DeleteAccount -->
    <div class="p-col-12">
        <p-panel>
            <p-header>
                <div class="ui-helper-clearfix">
                    <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Supprimer mon compte</span>
                </div>
            </p-header>
            Nous sommes déçu de vous voir partir :(.
            <p-footer>
                <div>
                    <p-checkbox name="acceptedDeleteAccount" value="" label="J'accepte la suppression de mon compte EasyComposer." [(ngModel)]="checkboxDeleteChecked"></p-checkbox>
                    <img src="./assets/images/unicorn_cry_small.gif" alt="" *ngIf="checkboxDeleteChecked">
                    <br><br>
                    <button pButton type="button " label="Supprimer mon compte " class="ui-button-danger " (click)="supprimerCompte() "></button>
                    <div *ngIf="errorCheckedDeleteAccount ">
                        <p-message severity="error " text="Vous devez cocher la case 'J'accepte la suppression de mon compte EasyComposer '"></p-message>
                    </div>
                    <div *ngIf="errorDelete">
                        <p-message severity="error" text="Oops ! Une erreur c'est produite lors de la suppression de votre compte ! Veuillez recommencer ! "></p-message>
                    </div>
                </div>
            </p-footer>
        </p-panel>
    </div>
    <!-- /DeleteAccount -->