.center-div {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    color: whitesmoke;
}

input {
    width: 500px;
    text-align: center;
}

input {
    margin-bottom: 5px;
    display: inline-block;
}

textarea {
    width: 100%;
    margin-top: 10px;
    height: 100px;
}

.titre {
    text-align: center;
}

.centerTexte {
    text-align: center;
}