<div class="item selected">
    <table class="fretboard">
        <caption>Manche de guitare : </caption>
        <thead>
            <tr>
                <th>0</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="s0 f00">
                    <div><label for="E3" id="E3" *ngIf="eChecked" class="selectedE">E</label></div>
                </td>
                <td class="s0 f01">
                    <div>
                        <label for="F3" id="F3" *ngIf="fChecked" class="selectedF">F</label></div>
                </td>
                <td class="s0 f02">
                    <div><label for="Gb3" id="Gb3" *ngIf="gbChecked" class="selectedGb">Gb</label></div>
                </td>
                <td class="s0 f03">
                    <div><label for="G3" id="G3" *ngIf="gChecked" class="selectedG">G</label></div>
                </td>
                <td class="s0 f04">
                    <div>
                        <label for="Ab3" id="Ab3" *ngIf="abChecked" class="selectedAb">Ab</label></div>
                </td>
                <td class="s0 f05">
                    <div><label for="A3" id="A3" *ngIf="aChecked" class="selectedA">A</label></div>
                </td>
                <td class="s0 f06">
                    <div><label for="Bb3" id="Bb3" *ngIf="bbChecked" class="selectedBb">Bb</label></div>
                </td>
                <td class="s0 f07">
                    <div><label for="B3" id="B3" *ngIf="bChecked" class="selectedB">B</label></div>
                </td>
                <td class="s0 f08">
                    <div><label for="C4" id="C4" *ngIf="cChecked" class="selectedC">C</label></div>
                </td>
                <td class="s0 f09">
                    <div><label for="Db4" id="Db4" *ngIf="dbChecked" class="selectedDb">Db</label></div>
                </td>
                <td class="s0 f10">
                    <div><label for="D4" id="D4" *ngIf="dChecked" class="selectedD">D</label></div>
                </td>
                <td class="s0 f11">
                    <div><label for="Eb4" id="Eb4" *ngIf="ebChecked" class="selectedEb">Eb</label></div>
                </td>
                <td class="s0 f12">
                    <div><label for="E4" id="E4" (click)="recupererNote('E4')" *ngIf="eChecked" class="selectedE">E</label></div>
                </td>
                <td class="s0 f13">
                    <div><label for="F4" id="F4" *ngIf="fChecked" class="selectedF">F</label></div>
                </td>
                <td class="s0 f14">
                    <div><label for="Gb4" id="Gb4" *ngIf="gbChecked" class="selectedGb">Gb</label></div>
                </td>
                <td class="s0 f15">
                    <div><label for="G4" id="G4" *ngIf="gChecked" class="selectedG">G</label></div>
                </td>
                <td class="s0 f16">
                    <div><label for="Ab4" id="Ab4" *ngIf="abChecked" class="selectedAb">Ab</label></div>
                </td>
                <td class="s0 f17">
                    <div><label for="A4" id="A4" *ngIf="aChecked" class="selectedA">A</label></div>
                </td>
                <td class="s0 f18">
                    <div><label for="Bb4" id="Bb4" *ngIf="bbChecked" class="selectedBb">Bb</label></div>
                </td>
                <td class="s0 f19">
                    <div><label for="B4" id="B4" *ngIf="bChecked" class="selectedB">B</label></div>
                </td>
                <td class="s0 f20">
                    <div><label for="C5" id="C5" *ngIf="cChecked" class="selectedC">C</label></div>
                </td>
                <td class="s0 f21">
                    <div><label for="Db5" id="Db5" *ngIf="dbChecked" class="selectedDb">Db</label></div>
                </td>
            </tr>
            <tr>
                <td class="s1 f00">
                    <div><label for="B2" id="B2" *ngIf="bChecked" class="selectedB">B</label></div>
                </td>
                <td class="s1 f01">
                    <div><label for="C3" id="C3" *ngIf="cChecked" class="selectedC">C</label></div>
                </td>
                <td class="s1 f02">
                    <div><label for="Db3" id="Db3" *ngIf="dbChecked" class="selectedDb">Db</label></div>
                </td>
                <td class="s1 f03">
                    <div><label for="D3" id="D3" *ngIf="dChecked" class="selectedD">D</label></div>
                </td>
                <td class="s1 f04">
                    <div><label for="Eb3" id="Eb3" *ngIf="ebChecked" class="selectedEb">Eb</label></div>
                </td>
                <td class="s1 f05">
                    <div><label for="E3" id="E3" *ngIf="eChecked" class="selectedE">E</label></div>
                </td>
                <td class="s1 f06">
                    <div><label for="F3" id="F3" *ngIf="fChecked" class="selectedF">F</label></div>
                </td>
                <td class="s1 f07">
                    <div><label for="Gb3" id="Gb3" *ngIf="gbChecked" class="selectedGb">Gb</label></div>
                </td>
                <td class="s1 f08">
                    <div><label for="G3" id="G3" *ngIf="gChecked" class="selectedG">G</label></div>
                </td>
                <td class="s1 f09">
                    <div><label for="Ab3" id="Ab3" *ngIf="abChecked" class="selectedAb">Ab</label></div>
                </td>
                <td class="s1 f10">
                    <div><label for="A3" id="A3" *ngIf="aChecked" class="selectedA">A</label></div>
                </td>
                <td class="s1 f11">
                    <div><label for="Bb3" id="Bb3" *ngIf="bbChecked" class="selectedBb">Bb</label></div>
                </td>
                <td class="s1 f12">
                    <div><label for="B3" id="B3" *ngIf="bChecked" class="selectedB">B</label></div>
                </td>
                <td class="s1 f13">
                    <div><label for="C4" id="C4" *ngIf="cChecked" class="selectedC">C</label></div>
                </td>
                <td class="s1 f14">
                    <div><label for="Db4" id="Db4" *ngIf="dbChecked" class="selectedDb">Db</label></div>
                </td>
                <td class="s1 f15">
                    <div><label for="D4" id="D4" *ngIf="dChecked" class="selectedD">D</label></div>
                </td>
                <td class="s1 f16">
                    <div><label for="Eb4" id="Eb4" *ngIf="ebChecked" class="selectedEb">Eb</label></div>
                </td>
                <td class="s1 f17">
                    <div><label for="E4" id="E4" *ngIf="eChecked" class="selectedE">E</label></div>
                </td>
                <td class="s1 f18">
                    <div><label for="F4" id="F4" *ngIf="fChecked" class="selectedF">F</label></div>
                </td>
                <td class="s1 f19">
                    <div><label for="Gb4" id="Gb4" *ngIf="gbChecked" class="selectedGb">Gb</label></div>
                </td>
                <td class="s1 f20">
                    <div><label for="G4" id="G4" *ngIf="gChecked" class="selectedG">G</label></div>
                </td>
                <td class="s1 f21">
                    <div><label for="Ab4" id="Ab4" *ngIf="abChecked" class="selectedAb">Ab</label></div>
                </td>
            </tr>
            <tr>
                <td class="s2 f00">
                    <div><label for="G2" id="G2" *ngIf="gChecked" class="selectedG">G</label></div>
                </td>
                <td class="s2 f01">
                    <div><label for="Ab2" id="Ab2" *ngIf="abChecked" class="selectedAb">Ab</label></div>
                </td>
                <td class="s2 f02">
                    <div><label for="A2" id="A2" *ngIf="aChecked" class="selectedA">A</label></div>
                </td>
                <td class="s2 f03">
                    <div><label for="Bb2" id="Bb2" *ngIf="bbChecked" class="selectedBb">Bb</label></div>
                </td>
                <td class="s2 f04">
                    <div><label for="B2" id="B2" *ngIf="bChecked" class="selectedB">B</label></div>
                </td>
                <td class="s2 f05">
                    <div><label for="C3" id="C3" *ngIf="cChecked" class="selectedC">C</label></div>
                </td>
                <td class="s2 f06">
                    <div><label for="Db3" id="Db3" *ngIf="dbChecked" class="selectedDb">Db</label></div>
                </td>
                <td class="s2 f07">
                    <div><label for="D3" id="D3" *ngIf="dChecked" class="selectedD">D</label></div>
                </td>
                <td class="s2 f08">
                    <div><label for="Eb3" id="Eb3" *ngIf="ebChecked" class="selectedEb">Eb</label></div>
                </td>
                <td class="s2 f09">
                    <div><label for="E3" id="E3" *ngIf="eChecked" class="selectedE">E</label></div>
                </td>
                <td class="s2 f10">
                    <div><label for="F3" id="F3" *ngIf="fChecked" class="selectedF">F</label></div>
                </td>
                <td class="s2 f11">
                    <div><label for="Gb3" id="Gb3" *ngIf="gbChecked" class="selectedGb">Gb</label></div>
                </td>
                <td class="s2 f12">
                    <div><label for="G3" id="G3" *ngIf="gChecked" class="selectedG">G</label></div>
                </td>
                <td class="s2 f13">
                    <div><label for="Ab3" id="Ab3" *ngIf="abChecked" class="selectedAb">Ab</label></div>
                </td>
                <td class="s2 f14">
                    <div><label for="A3" id="A3" *ngIf="aChecked" class="selectedA">A</label></div>
                </td>
                <td class="s2 f15">
                    <div><label for="Bb3" id="Bb3" *ngIf="bbChecked" class="selectedBb">Bb</label></div>
                </td>
                <td class="s2 f16">
                    <div><label for="B3" id="B3" *ngIf="bChecked" class="selectedB">B</label></div>
                </td>
                <td class="s2 f17">
                    <div><label for="C4" id="C4" *ngIf="cChecked" class="selectedC">C</label></div>
                </td>
                <td class="s2 f18">
                    <div><label for="Db4" id="Db4" *ngIf="dbChecked" class="selectedDb">Db</label></div>
                </td>
                <td class="s2 f19">
                    <div><label for="D4" id="D4" *ngIf="dChecked" class="selectedD">D</label></div>
                </td>
                <td class="s2 f20">
                    <div><label for="Eb4" id="Eb4" *ngIf="ebChecked" class="selectedEb">Eb</label></div>
                </td>
                <td class="s2 f21">
                    <div><label for="E4" id="E4" *ngIf="eChecked" class="selectedE">E</label></div>
                </td>
            </tr>
            <tr>
                <td class="s3 f00">
                    <div><label for="D2" id="D2" *ngIf="dChecked" class="selectedD">D</label></div>
                </td>
                <td class="s3 f01">
                    <div><label for="Eb2" id="Eb2" *ngIf="ebChecked" class="selectedEb">Eb</label></div>
                </td>
                <td class="s3 f02">
                    <div><label for="E2" id="E2" *ngIf="eChecked" class="selectedE">E</label></div>
                </td>
                <td class="s3 f03">
                    <div><label for="F2" id="F2" *ngIf="fChecked" class="selectedF">F</label></div>
                </td>
                <td class="s3 f04">
                    <div><label for="Gb2" id="Gb2" *ngIf="gbChecked" class="selectedGb">Gb</label></div>
                </td>
                <td class="s3 f05">
                    <div><label for="G2" id="G2" *ngIf="gChecked" class="selectedG">G</label></div>
                </td>
                <td class="s3 f06">
                    <div><label for="Ab2" id="Ab2" *ngIf="abChecked" class="selectedAb">Ab</label></div>
                </td>
                <td class="s3 f07">
                    <div><label for="A2" id="A2" *ngIf="aChecked" class="selectedA">A</label></div>
                </td>
                <td class="s3 f08">
                    <div><label for="Bb2" id="Bb2" *ngIf="bbChecked" class="selectedBb">Bb</label></div>
                </td>
                <td class="s3 f09">
                    <div><label for="Db2#" id="Db2" *ngIf="dbChecked" class="selectedDb">Db</label></div>
                </td>
                <td class="s3 f10">
                    <div><label for="C3" id="C3" *ngIf="cChecked" class="selectedC">C</label></div>
                </td>
                <td class="s3 f11">
                    <div><label for="Db3" id="Db3" *ngIf="dbChecked" class="selectedDb">Db</label></div>
                </td>
                <td class="s3 f12">
                    <div><label for="D3" id="D3" *ngIf="dChecked" class="selectedD">D</label></div>
                </td>
                <td class="s3 f13">
                    <div><label for="Eb3" id="Eb3" *ngIf="ebChecked" class="selectedEb">Eb</label></div>
                </td>
                <td class="s3 f14">
                    <div><label for="E3" id="E3" *ngIf="eChecked" class="selectedE">E</label></div>
                </td>
                <td class="s3 f15">
                    <div><label for="F3" id="F3" *ngIf="fChecked" class="selectedF">F</label></div>
                </td>
                <td class="s3 f16">
                    <div><label for="Gb3" id="Gb3" *ngIf="gbChecked" class="selectedGb">Gb</label></div>
                </td>
                <td class="s3 f17">
                    <div><label for="G3" id="G3" *ngIf="gChecked" class="selectedG">G</label></div>
                </td>
                <td class="s3 f18">
                    <div><label for="Ab3" id="Ab3" *ngIf="abChecked" class="selectedAb">Ab</label></div>
                </td>
                <td class="s3 f19">
                    <div><label for="A3" id="A3" *ngIf="aChecked" class="selectedA">A</label></div>
                </td>
                <td class="s3 f20">
                    <div><label for="Bb3" id="Bb3" *ngIf="bbChecked" class="selectedBb">Bb</label></div>
                </td>
                <td class="s3 f21">
                    <div><label for="B3" id="B3" *ngIf="bChecked" class="selectedB">B</label></div>
                </td>
            </tr>
            <tr>
                <td class="s4 f00">
                    <div><label for="A1" id="A1" *ngIf="aChecked" class="selectedA">A</label></div>
                </td>
                <td class="s4 f01">
                    <div><label for="Bb1" id="Bb1" *ngIf="bbChecked" class="selectedBb">Bb</label></div>
                </td>
                <td class="s4 f02">
                    <div><label for="B1" id="B1" *ngIf="bChecked" class="selectedB">B</label></div>
                </td>
                <td class="s4 f03">
                    <div><label for="C2" id="C2" *ngIf="cChecked" class="selectedC">C</label></div>
                </td>
                <td class="s4 f04">
                    <div><label for="Db2#" id="Db2" *ngIf="dbChecked" class="selectedDb">Db</label></div>
                </td>
                <td class="s4 f05">
                    <div><label for="D2" id="D2" *ngIf="dChecked" class="selectedD">D</label></div>
                </td>
                <td class="s4 f06">
                    <div><label for="Eb2#" id="Eb2" *ngIf="ebChecked" class="selectedEb">Eb</label></div>
                </td>
                <td class="s4 f07">
                    <div><label for="E2" id="E2" *ngIf="eChecked" class="selectedE">E</label></div>
                </td>
                <td class="s4 f08">
                    <div><label for="F2" id="F2" *ngIf="fChecked" class="selectedF">F</label></div>
                </td>
                <td class="s4 f09">
                    <div><label for="Gb2" id="Gb2" *ngIf="gbChecked" class="selectedGb">Gb</label></div>
                </td>
                <td class="s4 f10">
                    <div><label for="G2" id="G2" *ngIf="gChecked" class="selectedG">G</label></div>
                </td>
                <td class="s4 f11">
                    <div><label for="Ab2" id="Ab2" *ngIf="abChecked" class="selectedAb">Ab</label></div>
                </td>
                <td class="s4 f12">
                    <div><label for="A2" id="A2" *ngIf="aChecked" class="selectedA">A</label></div>
                </td>
                <td class="s4 f13">
                    <div><label for="Bb2" id="Bb2" *ngIf="bbChecked" class="selectedBb">Bb</label></div>
                </td>
                <td class="s4 f14">
                    <div><label for="B2" id="B2" *ngIf="bChecked" class="selectedB">B</label></div>
                </td>
                <td class="s4 f15">
                    <div><label for="C3" id="C3" *ngIf="cChecked" class="selectedC">C</label></div>
                </td>
                <td class="s4 f16">
                    <div><label for="Db3" id="Db3" *ngIf="dbChecked" class="selectedDb">Db</label></div>
                </td>
                <td class="s4 f17">
                    <div><label for="D3" id="D3" *ngIf="dChecked" class="selectedD">D</label></div>
                </td>
                <td class="s4 f18">
                    <div><label for="Eb3" id="Eb3" *ngIf="ebChecked" class="selectedEb">Eb</label></div>
                </td>
                <td class="s4 f19">
                    <div><label for="E3" id="E3" *ngIf="eChecked" class="selectedE">E</label></div>
                </td>
                <td class="s4 f20">
                    <div><label for="F3" id="F3" *ngIf="fChecked" class="selectedF">F</label></div>
                </td>
                <td class="s4 f21">
                    <div><label for="Gb3" id="Gb3" *ngIf="gbChecked" class="selectedGb">Gb</label></div>
                </td>
            </tr>
            <tr>
                <td class="s5 f00">
                    <div><label for="E1" id="E1" *ngIf="eChecked" class="selectedE">E</label></div>
                </td>
                <td class="s5 f01">
                    <div><label for="F1" id="F1" *ngIf="fChecked" class="selectedF">F</label></div>
                </td>
                <td class="s5 f02">
                    <div><label for="Gb1" id="Gb1" *ngIf="gbChecked" class="selectedGb">Gb</label></div>
                </td>
                <td class="s5 f03">
                    <div><label for="G1" id="G1" *ngIf="gChecked" class="selectedG">G</label></div>
                </td>
                <td class="s5 f04">
                    <div><label for="Ab1" id="Ab1" *ngIf="abChecked" class="selectedAb">Ab</label></div>
                </td>
                <td class="s5 f05">
                    <div><label for="A1" id="A1" *ngIf="aChecked" class="selectedA">A</label></div>
                </td>
                <td class="s5 f06">
                    <div><label for="Bb1" id="Bb1" *ngIf="bbChecked" class="selectedBb">Bb</label></div>
                </td>
                <td class="s5 f07">
                    <div><label for="B1" id="B1" *ngIf="bChecked" class="selectedB">B</label></div>
                </td>
                <td class="s5 f08">
                    <div><label for="C2" id="C2" *ngIf="cChecked" class="selectedC">C</label></div>
                </td>
                <td class="s5 f09">
                    <div><label for="Db2" id="Db2" *ngIf="dbChecked" class="selectedDb">Db</label></div>
                </td>
                <td class="s5 f10">
                    <div><label for="D2" id="D2" *ngIf="dChecked" class="selectedD">D</label></div>
                </td>
                <td class="s5 f11">
                    <div><label for="Eb2" id="Eb2" *ngIf="ebChecked" class="selectedEb">Eb</label></div>
                </td>
                <td class="s5 f12">
                    <div><label for="E2" id="E2" *ngIf="eChecked" class="selectedE">E</label></div>
                </td>
                <td class="s5 f13">
                    <div><label for="F2" id="F2" *ngIf="fChecked" class="selectedF">F</label></div>
                </td>
                <td class="s5 f14">
                    <div><label for="Gb2" id="Gb2" *ngIf="gbChecked" class="selectedGb">Gb</label></div>
                </td>
                <td class="s5 f15">
                    <div><label for="G2" id="G2" *ngIf="gChecked" class="selectedG">G</label></div>
                </td>
                <td class="s5 f16">
                    <div><label for="Ab2" id="Ab2" *ngIf="abChecked" class="selectedAb">Ab</label></div>
                </td>
                <td class="s5 f17">
                    <div><label for="A2" id="A2" *ngIf="aChecked" class="selectedA">A</label></div>
                </td>
                <td class="s5 f18">
                    <div><label for="Bb2" id="Bb2" *ngIf="bbChecked" class="selectedBb">Bb</label></div>
                </td>
                <td class="s5 f19">
                    <div><label for="B2" id="B2" *ngIf="bChecked" class="selectedB">B</label></div>
                </td>
                <td class="s5 f20">
                    <div><label for="C3" id="C3" *ngIf="cChecked" class="selectedC">C</label></div>
                </td>
                <td class="s5 f21">
                    <div><label for="Db3" id="Db3" *ngIf="dbChecked" class="selectedDb">Db</label></div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="ui-g">
        <div class="ui-g-6">
            <form>
                <h3> Information sur la position des notes : </h3>
                <p-checkbox name="NoteA" value="A" label="A" class="checboxNote" [(ngModel)]="aChecked" binary="false" (change)="aiSChecked()"></p-checkbox>
                <p-checkbox name="NoteAb" value="Ab" label="Ab" class="checboxNote" [(ngModel)]="abChecked" binary="false" (change)="abiSChecked()"></p-checkbox>
                <p-checkbox name="NoteB" value="B" label="B" class="checboxNote" [(ngModel)]="bChecked" binary="false" (change)="biSChecked()"></p-checkbox>
                <p-checkbox name="NoteBb" value="Bb" label="Bb" class="checboxNote" [(ngModel)]="bbChecked" binary="false" (change)="bbiSChecked()"></p-checkbox>
                <p-checkbox name="NoteC" value="C" label="C" class="checboxNote" [(ngModel)]="cChecked" binary="false" (change)="ciSChecked()"></p-checkbox>
                <p-checkbox name="NoteD" value="D" label="D" class="checboxNote" [(ngModel)]="dChecked" binary="false" (change)="diSChecked()"></p-checkbox>
                <p-checkbox name="NoteDb" value="Db" label="Db" class="checboxNote" [(ngModel)]="dbChecked" binary="false" (change)="dbiSChecked()"></p-checkbox>
                <p-checkbox name="NoteE" value="E" label="E" class="checboxNote" [(ngModel)]="eChecked" binary="false" (change)="eiSChecked()"></p-checkbox>
                <p-checkbox name="NoteEb" value="Eb" label="Eb" class="checboxNote" [(ngModel)]="ebChecked" binary="false" (change)="ebiSChecked()"></p-checkbox>
                <p-checkbox name="NoteF" value="F" label="F" class="checboxNote" [(ngModel)]="fChecked" binary="false" (change)="fiSChecked()"></p-checkbox>
                <p-checkbox name="NoteG" value="G" label="G" class="checboxNote" [(ngModel)]="gChecked" binary="false" (change)="giSChecked()"></p-checkbox>
                <p-checkbox name="NoteGb" value="Gb" label="Gb" class="checboxNote" [(ngModel)]="gbChecked" binary="false" (change)="gbiSChecked()"></p-checkbox>
            </form>

        </div>
        <div class="ui-g-6">
            <h3>Légendes :</h3>
            <table>
                <tr>
                    <td>A :</td>
                    <td class="selectedA">___</td>
                    <td>Ab :</td>
                    <td class="selectedAb">___</td>
                    <td>B :</td>
                    <td class="selectedB">___</td>
                    <td>Bb :</td>
                    <td class="selectedBb">___</td>
                    <td>C :</td>
                    <td class="selectedC">___</td>
                    <td>D :</td>
                    <td class="selectedD">___</td>
                    <td>Db :</td>
                    <td class="selectedDb">___</td>
                    <td>E :</td>
                    <td class="selectedE">___</td>
                    <td>Eb :</td>
                    <td class="selectedEb">___</td>
                    <td>F :</td>
                    <td class="selectedF">___</td>
                    <td>G :</td>
                    <td class="selectedG">___</td>
                    <td>Gb :</td>
                    <td class="selectedGb">___</td>
                </tr>
            </table>
        </div>
    </div>
</div>