    /* Top-level structure */
    
    html {
        height: 100%;
        margin: 0;
    }
    
    body {
        height: 100%;
        margin: 0;
        font-family: Arial;
    }
    
    #layout {
        height: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }
    
    #content {
        overflow: scroll;
        flex-grow: 1;
    }
    
    div.toolbar {
        height: 100%;
        font-size: 75%;
        flex-shrink: 0;
        overflow: scroll;
    }
    
    h1 {
        text-align: center;
    }
    
    p.note {
        text-align: center;
        color: #CCC;
    }
    
    th {
        text-align: right;
    }
    /* Controls */
    
    span.control {
        display: inline-block;
        margin: 2px;
        border: 1px solid #ABA;
        border-radius: 2px;
        background: #DED;
        width: 1.5em;
        line-height: 1.5em;
        text-align: center;
        font-weight: bold;
        vertical-align: middle;
        cursor: pointer;
    }
    
    span.control:hover {
        background: #DFD;
    }
    
    div.heading {
        display: flex;
    }
    
    input.diagram {
        font-family: monospace;
        font-size: 100%;
        color: #888;
        margin-left: 1em;
        flex-grow: 1;
    }
    /* Content list items */
    
    div.item {
        margin: 1em 4px;
        padding: 0.5em;
    }
    
    div.unselected {
        border: 2px solid white;
        border-radius: 4px;
    }
    
    div.unselected:hover {
        background: #FFE;
    }
    
    div.selected {
        border: 2px solid #DDB;
        border-radius: 4px;
        background: #ffe399;
    }
    /* Menu table */
    
    table.menu {
        vertical-align: top;
        border-collapse: collapse;
        margin: 0.5em;
        padding: 0.5em;
    }
    
    table.menu th {
        font-weight: normal;
        height: 2em;
        text-align: right;
    }
    
    table.menu td {
        border: 1px solid black;
        padding: 0.5em 0.25em;
        text-align: right;
    }
    
    table.menu input {
        vertical-align: middle;
    }
    
    table.menu img {
        vertical-align: middle;
    }
    
    table.piano td:nth-child(2) {
        text-align: right;
    }
    /* Tone selection menu */
    
    table.piano tr:nth-child(2),
    table.piano tr:nth-child(4),
    table.piano tr:nth-child(6),
    table.piano tr:nth-child(7),
    table.piano tr:nth-child(9),
    table.piano tr:nth-child(11),
    table.piano tr:nth-child(13) {
        background-color: #EEE;
    }
    
    table.piano tr:nth-child(3),
    table.piano tr:nth-child(5),
    table.piano tr:nth-child(8),
    table.piano tr:nth-child(10),
    table.piano tr:nth-child(12) {
        background-color: #CCC;
    }
    /* Fretboard table */
    
    table.fretboard {
        border-collapse: collapse;
        width: 100%;
    }
    
    table.fretboard tbody {
        background-color: rgb(122, 104, 87);
        width: 100%;
    }
    
    table.fretboard td.s0 {
        background-image: linear-gradient(to bottom, transparent, transparent 47%, #FFF 47%, #EEE 50%, #777 53%, transparent 53%), linear-gradient(to left, #FFF 0px, #CCC 2px, #CCC 4px, #777 6px, transparent 6px)
    }
    
    table.fretboard td.s1 {
        background-image: linear-gradient(to bottom, transparent, transparent 46%, #FFF 46%, #EEE 50%, #777 54%, transparent 54%), linear-gradient(to left, #FFF 0px, #CCC 2px, #CCC 4px, #777 6px, transparent 6px)
    }
    
    table.fretboard td.s2 {
        background-image: linear-gradient(to bottom, transparent, transparent 45%, #FFF 45%, #EEE 50%, #777 55%, transparent 55%), linear-gradient(to left, #FFF 0px, #CCC 2px, #CCC 4px, #777 6px, transparent 6px)
    }
    
    table.fretboard td.s3 {
        background-image: linear-gradient(to bottom, transparent, transparent 44%, #FFF 44%, #EEE 50%, #777 56%, transparent 56%), linear-gradient(to left, #FFF 0px, #CCC 2px, #CCC 4px, #777 6px, transparent 6px)
    }
    
    table.fretboard td.s4 {
        background-image: linear-gradient(to bottom, transparent, transparent 43%, #FFF 43%, #EEE 50%, #777 57%, transparent 57%), linear-gradient(to left, #FFF 0px, #CCC 2px, #CCC 4px, #777 6px, transparent 6px)
    }
    
    table.fretboard td.s5 {
        background-image: linear-gradient(to bottom, transparent, transparent 42%, #FFF 42%, #EEE 50%, #777 58%, transparent 58%), linear-gradient(to left, #FFF 0px, #CCC 2px, #CCC 4px, #777 6px, transparent 6px)
    }
    
    table.fretboard td.f00 {
        width: 0.5%;
        background-color: #DDD;
        background-image: none;
    }
    /*Travail a faire sur la tailles des cases */
    
    table.fretboard td.f01 {
        width: 4.41%
    }
    
    table.fretboard td.f02 {
        width: 4.2%
    }
    
    table.fretboard td.f03 {
        width: 3.99%
    }
    
    table.fretboard td.f04 {
        width: 3.78%
    }
    
    table.fretboard td.f05 {
        width: 3.57%
    }
    
    table.fretboard td.f06 {
        width: 3.36%
    }
    
    table.fretboard td.f07 {
        width: 3.21%
    }
    
    table.fretboard td.f08 {
        width: 3%
    }
    
    table.fretboard td.f09 {
        width: 2.79%
    }
    
    table.fretboard td.f10 {
        width: 2.58%
    }
    
    table.fretboard td.f11 {
        width: 2.37%
    }
    
    table.fretboard td.f12 {
        width: 2.16%
    }
    
    table.fretboard td.f13 {
        width: 1.95%
    }
    
    table.fretboard td.f14 {
        width: 1.74%
    }
    
    table.fretboard td.f15 {
        width: 1.53%
    }
    
    table.fretboard td.f16 {
        width: 1.32%
    }
    
    table.fretboard td.f17 {
        width: 1.11%
    }
    
    table.fretboard td.f18 {
        width: 0.9%
    }
    
    table.fretboard td.f19 {
        width: 0.69%
    }
    
    table.fretboard td.f20 {
        width: 0.48%
    }
    
    table.fretboard td.f21 {
        width: 0.27%
    }
    
    table.fretboard div {
        float: right;
        min-width: 20pt;
        min-height: 20pt;
        text-align: center;
    }
    
    table.fretboard div.t1:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t2f:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t2:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t3f:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t3:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t4:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t5f:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t5:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t5s:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t6f:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t6:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t7ff:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t7f:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t7:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t9f:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t9:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t9s:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t11f:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t11:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t11s:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t13f:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t13:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t14:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t15:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t16:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t17:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t18:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t19:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t20:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t21:hover {
        background-color: yellow;
    }
    
    table.fretboard div.t22:hover {
        background-color: yellow;
    }
    
    #boutons {
        text-align: center;
    }
    
    #margeBouton {
        margin-right: 20px;
    }
    
    .checboxNote {
        margin-right: 10px;
    }
    
    .selectedA {
        background-color: darkgoldenrod;
    }
    
    .selectedAb {
        background-color: darksalmon;
    }
    
    .selectedB {
        background-color: chocolate;
    }
    
    .selectedBb {
        background-color: darkred;
    }
    
    .selectedC {
        background-color: forestgreen;
    }
    
    .selectedD {
        background-color: hotpink;
    }
    
    .selectedDb {
        background-color: whitesmoke;
    }
    
    .selectedE {
        background-color: dodgerblue;
    }
    
    .selectedEb {
        background-color: darkslategray;
    }
    
    .selectedF {
        background-color: darkturquoise;
    }
    
    .selectedG {
        background-color: yellow;
    }
    
    .selectedGb {
        background-color: black;
        color: whitesmoke;
    }