<div class="welcome">
    <h1 class="welcome">Bienvenue {{usernameUserConnected}}</h1>
    <p class="welcome">Afin de garantir une meilleure expérience utilsateur, nous vous conseillons d'accorder votre guitare. <br> Souhaitez-vous procéder à l'accordage de votre instruments ?<br>
        <button pButton type="button " label="Oui " icon="pi pi-check" (click)="redirectGuitarTuner()" id="marge"></button>
        <button pButton type="button " label="Non " class="ui-button-danger " (click)="redirectHome()" icon="pi pi-times "></button>
    </p>
    <p>Sachez, qu'il vous sera possible de réaliser l'accordage de votre guitare via la barre d'outil ci-dessus à tout moments.(<img src="./assets/images/guitar-tuner.png" alt="guitar-tuner">).</p>

</div>