<h1>Note suggérée : <label *ngFor="let note of listNotes"> {{note.nom}} </label></h1>
<div class="item selected">
    <table class="fretboard">
        <caption>Manche de guitare : </caption>
        <thead>
            <tr>
                <th>0</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="s0 f00">
                    <div><label class="E3" id="0" (click)="recupererNote('E3')">E3</label></div>
                </td>
                <td class="s0 f01">
                    <div><label class="F3" id="1" (click)="recupererNote('F3')">F3</label></div>
                </td>
                <td class="s0 f02">
                    <div><label class="Gb3" id="2" (click)="recupererNote('Gb3')">Gb3</label></div>
                </td>
                <td class="s0 f03">
                    <div><label class="G3" id="3" (click)="recupererNote('G3')">G3</label></div>
                </td>
                <td class="s0 f04">
                    <div>
                        <label class="Ab3" id="4" (click)="recupererNote('Ab3')">Ab3</label></div>
                </td>
                <td class="s0 f05">
                    <div><label class="A3" id="4" (click)="recupererNote('A3')">A3</label></div>
                </td>
                <td class="s0 f06">
                    <div><label class="Bb3" id="5" (click)="recupererNote('Bb3')">Bb3</label></div>
                </td>
                <td class="s0 f07">
                    <div><label class="B3" id="6" (click)="recupererNote('B')">B3</label></div>
                </td>
                <td class="s0 f08">
                    <div><label class="C4" id="7" (click)="recupererNote('C4')">C4</label></div>
                </td>
                <td class="s0 f09">
                    <div><label class="Db4" id="8" (click)="recupererNote('Db4')">Db4</label></div>
                </td>
                <td class="s0 f10">
                    <div><label class="D4" id="9" (click)="recupererNote('D4')">D4</label></div>
                </td>
                <td class="s0 f11">
                    <div><label class="Eb4" id="10" (click)="recupererNote('Eb4')">Eb4</label></div>
                </td>
                <td class="s0 f12">
                    <div><label class="E4" id="11" (click)="recupererNote('E4')">E4</label></div>
                </td>
                <td class="s0 f13">
                    <div><label class="F4" id="12" (click)="recupererNote('F4')">F4</label></div>
                </td>
                <td class="s0 f14">
                    <div><label class="Gb4" id="13" (click)="recupererNote('Gb4')">Gb4</label></div>
                </td>
                <td class="s0 f15">
                    <div><label class="G4" id="14" (click)="recupererNote('G4')">G4</label></div>
                </td>
                <td class="s0 f16">
                    <div><label class="Ab4" id="15" (click)="recupererNote('Ab4')">Ab4</label></div>
                </td>
                <td class="s0 f17">
                    <div><label class="A4" id="16" (click)="recupererNote('A4')">A4</label></div>
                </td>
                <td class="s0 f18">
                    <div><label class="Bb4" id="17" (click)="recupererNote('Bb4')">Bb4</label></div>
                </td>
                <td class="s0 f19">
                    <div><label class="B4" id="18" (click)="recupererNote('B4')">B4</label></div>
                </td>
                <td class="s0 f20">
                    <div><label class="C5" id="19" (click)="recupererNote('C5')">C5</label></div>
                </td>
                <td class="s0 f21">
                    <div><label class="Db5" id="20" (click)="recupererNote('Db5')">Db5</label></div>
                </td>
            </tr>
            <tr>
                <td class="s1 f00">
                    <div><label class="B2" id="21" (click)="recupererNote('B2')">B2</label></div>
                </td>
                <td class="s1 f01">
                    <div><label class="C3" id="22" (click)="recupererNote('C3')">C3</label></div>
                </td>
                <td class="s1 f02">
                    <div><label class="Db3" id="23" (click)="recupererNote('Db3')">Db3</label></div>
                </td>
                <td class="s1 f03">
                    <div><label class="D3" id="24" (click)="recupererNote('D3')">D3</label></div>
                </td>
                <td class="s1 f04">
                    <div><label class="Eb3" id="25" (click)="recupererNote('Eb3')">Eb3</label></div>
                </td>
                <td class="s1 f05">
                    <div><label class="E3" id="26" (click)="recupererNote('E3')">E3</label></div>
                </td>
                <td class="s1 f06">
                    <div><label class="F3" id="27" (click)="recupererNote('F3')">F3</label></div>
                </td>
                <td class="s1 f07">
                    <div><label class="Gb3" id="28" (click)="recupererNote('Gb3')">Gb3</label></div>
                </td>
                <td class="s1 f08">
                    <div><label class="G3" id="29" (click)="recupererNote('G3')">G3</label></div>
                </td>
                <td class="s1 f09">
                    <div><label class="Ab3" id="30" (click)="recupererNote('Ab3')">Ab3</label></div>
                </td>
                <td class="s1 f10">
                    <div><label class="A3" id="31" (click)="recupererNote('A3')">A3</label></div>
                </td>
                <td class="s1 f11">
                    <div><label class="Bb3" id="32" (click)="recupererNote('Bb3')">Bb3</label></div>
                </td>
                <td class="s1 f12">
                    <div><label class="B3" id="33" (click)="recupererNote('B3')">B3</label></div>
                </td>
                <td class="s1 f13">
                    <div><label class="C4" id="34" (click)="recupererNote('C4')">C4</label></div>
                </td>
                <td class="s1 f14">
                    <div><label class="Db4" id="35" (click)="recupererNote('Db4')">Db4</label></div>
                </td>
                <td class="s1 f15">
                    <div><label class="D4" id="36" (click)="recupererNote('D4')">D4</label></div>
                </td>
                <td class="s1 f16">
                    <div><label class="Eb4" id="37" (click)="recupererNote('Eb4')">Eb4</label></div>
                </td>
                <td class="s1 f17">
                    <div><label class="E4" id="38" (click)="recupererNote('E4')">E4</label></div>
                </td>
                <td class="s1 f18">
                    <div><label class="F4" id="39" (click)="recupererNote('F4')">F4</label></div>
                </td>
                <td class="s1 f19">
                    <div><label class="Gb4" id="40" (click)="recupererNote('Gb4')">Gb4</label></div>
                </td>
                <td class="s1 f20">
                    <div><label class="G4" id="41" (click)="recupererNote('G4')">G4</label></div>
                </td>
                <td class="s1 f21">
                    <div><label class="Ab4" id="42" (click)="recupererNote('Ab4')">Ab4</label></div>
                </td>
            </tr>
            <tr>
                <td class="s2 f00">
                    <div><label class="G2" id="43" (click)="recupererNote('G2')">G2</label></div>
                </td>
                <td class="s2 f01">
                    <div><label class="Ab2" id="44" (click)="recupererNote('Ab2')">Ab2</label></div>
                </td>
                <td class="s2 f02">
                    <div><label class="A2" id="45" (click)="recupererNote('A2')">A2</label></div>
                </td>
                <td class="s2 f03">
                    <div><label class="Bb2" id="46" (click)="recupererNote('Bb2')">Bb2</label></div>
                </td>
                <td class="s2 f04">
                    <div><label class="B2" id="47" (click)="recupererNote('B2')">B2</label></div>
                </td>
                <td class="s2 f05">
                    <div><label class="C3" id="48" (click)="recupererNote('C3')">C3</label></div>
                </td>
                <td class="s2 f06">
                    <div><label class="Db3" id="49" (click)="recupererNote('Db3')">Db3</label></div>
                </td>
                <td class="s2 f07">
                    <div><label class="D3" id="50" (click)="recupererNote('D3')">D3</label></div>
                </td>
                <td class="s2 f08">
                    <div><label class="Eb3" id="51" (click)="recupererNote('Eb3')">Eb3</label></div>
                </td>
                <td class="s2 f09">
                    <div><label class="E3" id="52" (click)="recupererNote('E3')">E3</label></div>
                </td>
                <td class="s2 f10">
                    <div><label class="F3" id="53" (click)="recupererNote('F3')">F3</label></div>
                </td>
                <td class="s2 f11">
                    <div><label class="Gb3" id="54" (click)="recupererNote('Gb3')">Gb3</label></div>
                </td>
                <td class="s2 f12">
                    <div><label class="G3" id="55" (click)="recupererNote('G3')">G3</label></div>
                </td>
                <td class="s2 f13">
                    <div><label class="Ab3" id="56" (click)="recupererNote('Ab3')">Ab3</label></div>
                </td>
                <td class="s2 f14">
                    <div><label class="A3" id="57" (click)="recupererNote('A3')">A3</label></div>
                </td>
                <td class="s2 f15">
                    <div><label class="Bb3" id="58" (click)="recupererNote('Bb3')">Bb3</label></div>
                </td>
                <td class="s2 f16">
                    <div><label class="B3" id="59" (click)="recupererNote('B3')">B3</label></div>
                </td>
                <td class="s2 f17">
                    <div><label class="C4" id="60" (click)="recupererNote('C4')">C4</label></div>
                </td>
                <td class="s2 f18">
                    <div><label class="Db4" id="61" (click)="recupererNote('Db4')">Db4</label></div>
                </td>
                <td class="s2 f19">
                    <div><label class="D4" id="62" (click)="recupererNote('D4')">D4</label></div>
                </td>
                <td class="s2 f20">
                    <div><label class="Eb4" id="63" (click)="recupererNote('Eb4')">Eb4</label></div>
                </td>
                <td class="s2 f21">
                    <div><label class="E4" id="64" (click)="recupererNote('E4')">E4</label></div>
                </td>
            </tr>
            <tr>
                <td class="s3 f00">
                    <div><label class="D2" class="D2" id="65" (click)="recupererNote('D2')">D2</label></div>
                </td>
                <td class="s3 f01">
                    <div><label class="Eb2" id="66" (click)="recupererNote('Eb2')">Eb2</label></div>
                </td>
                <td class="s3 f02">
                    <div><label class="E2" id="67" (click)="recupererNote('E2')">E2</label></div>
                </td>
                <td class="s3 f03">
                    <div><label class="F2" id="68" (click)="recupererNote('F2')">F2</label></div>
                </td>
                <td class="s3 f04">
                    <div><label class="Gb2" id="69" (click)="recupererNote('Gb2')">Gb2</label></div>
                </td>
                <td class="s3 f05">
                    <div><label class="G2" id="70" (click)="recupererNote('G2')">G2</label></div>
                </td>
                <td class="s3 f06">
                    <div><label class="Ab2" id="71" (click)="recupererNote('Ab2')">Ab2</label></div>
                </td>
                <td class="s3 f07">
                    <div><label class="A2" id="72" (click)="recupererNote('A2')">A2</label></div>
                </td>
                <td class="s3 f08">
                    <div><label class="Bb2" id="73" (click)="recupererNote('Bb2')">Bb2</label></div>
                </td>
                <td class="s3 f09">
                    <div><label class="B2" id="74" (click)="recupererNote('B2')">B2</label></div>
                </td>
                <td class="s3 f10">
                    <div><label class="C3" id="75" (click)="recupererNote('C3')">C3</label></div>
                </td>
                <td class="s3 f11">
                    <div><label class="Db3" id="76" (click)="recupererNote('Db3')">Db3</label></div>
                </td>
                <td class="s3 f12">
                    <div><label class="D3" id="77" (click)="recupererNote('D3')">D3</label></div>
                </td>
                <td class="s3 f13">
                    <div><label class="Eb3" id="78" (click)="recupererNote('Eb3')">Eb3</label></div>
                </td>
                <td class="s3 f14">
                    <div><label class="E3" id="79" (click)="recupererNote('E3')">E3</label></div>
                </td>
                <td class="s3 f15">
                    <div><label class="F3" id="80" (click)="recupererNote('F3')">F3</label></div>
                </td>
                <td class="s3 f16">
                    <div><label class="Gb3" id="81" (click)="recupererNote('Gb3')">Gb3</label></div>
                </td>
                <td class="s3 f17">
                    <div><label class="G3" id="82" (click)="recupererNote('G3')">G3</label></div>
                </td>
                <td class="s3 f18">
                    <div><label class="Ab3" id="83" (click)="recupererNote('Ab3')">Ab3</label></div>
                </td>
                <td class="s3 f19">
                    <div><label class="A3" id="84" (click)="recupererNote('A3')">A3</label></div>
                </td>
                <td class="s3 f20">
                    <div><label class="Bb3" id="85" (click)="recupererNote('Bb3')">Bb3</label></div>
                </td>
                <td class="s3 f21">
                    <div><label class="B3" id="86" (click)="recupererNote('B3')">B3</label></div>
                </td>
            </tr>
            <tr>
                <td class="s4 f00">
                    <div><label class="A1" class="A1" id="87" (click)="recupererNote('A1')">A1</label></div>
                </td>
                <td class="s4 f01">
                    <div><label class="Bb1" class="Bb1" id="88" (click)="recupererNote('Bb1')">Bb1</label></div>
                </td>
                <td class="s4 f02">
                    <div><label class="B1" id="89" (click)="recupererNote('B1')">B1</label></div>
                </td>
                <td class="s4 f03">
                    <div><label class="C2" class="C2" id="90" (click)="recupererNote('C2')">C2</label></div>
                </td>
                <td class="s4 f04">
                    <div><label class="Db2" id="91" (click)="recupererNote('Db2')">Db2</label></div>
                </td>
                <td class="s4 f05">
                    <div><label class="D2" class="D2" id="92" (click)="recupererNote('D2')">D2</label></div>
                </td>
                <td class="s4 f06">
                    <div><label class="Eb2" id="93" (click)="recupererNote('Eb2')">Eb2</label></div>
                </td>
                <td class="s4 f07">
                    <div><label class="E2" id="94" (click)="recupererNote('E2')">E2</label></div>
                </td>
                <td class="s4 f08">
                    <div><label class="F2" id="95" (click)="recupererNote('F2')">F2</label></div>
                </td>
                <td class="s4 f09">
                    <div><label class="Gb2" id="96" (click)="recupererNote('Gb2')">Gb2</label></div>
                </td>
                <td class="s4 f10">
                    <div><label class="G2" id="97" (click)="recupererNote('G2')">G2</label></div>
                </td>
                <td class="s4 f11">
                    <div><label class="Ab2" id="98" (click)="recupererNote('Ab2')">Ab2</label></div>
                </td>
                <td class="s4 f12">
                    <div><label class="A2" id="99" (click)="recupererNote('A2')">A2</label></div>
                </td>
                <td class="s4 f13">
                    <div><label class="Bb2" id="100" (click)="recupererNote('Bb2')">Bb2</label></div>
                </td>
                <td class="s4 f14">
                    <div><label class="B2" id="101" (click)="recupererNote('B2')">B2</label></div>
                </td>
                <td class="s4 f15">
                    <div><label class="C3" id="102" (click)="recupererNote('C3')">C3</label></div>
                </td>
                <td class="s4 f16">
                    <div><label class="Db3" id="103" (click)="recupererNote('Db3')">Db3</label></div>
                </td>
                <td class="s4 f17">
                    <div><label class="D3" id="104" (click)="recupererNote('D3')">D3</label></div>
                </td>
                <td class="s4 f18">
                    <div><label class="Eb3" id="105" (click)="recupererNote('Eb3')">Eb3</label></div>
                </td>
                <td class="s4 f19">
                    <div><label class="E3" id="106" (click)="recupererNote('E3')">E3</label></div>
                </td>
                <td class="s4 f20">
                    <div><label class="F3" id="107" (click)="recupererNote('F3')">F3</label></div>
                </td>
                <td class="s4 f21">
                    <div><label class="Gb3" id="108" (click)="recupererNote('Gb3')">Gb3</label></div>
                </td>
            </tr>
            <tr>
                <td class="s5 f00">
                    <div><label class="E1" id="109" (click)="recupererNote('E1')">E1</label></div>
                </td>
                <td class="s5 f01">
                    <div><label class="F1" id="110" (click)="recupererNote('F1')">F1</label></div>
                </td>
                <td class="s5 f02">
                    <div><label class="Gb1" id="111" (click)="recupererNote('Gb1')">Gb1</label></div>
                </td>
                <td class="s5 f03">
                    <div><label class="G1" id="112" (click)="recupererNote('G1')">G1</label></div>
                </td>
                <td class="s5 f04">
                    <div><label class="Ab1" id="113" (click)="recupererNote('Ab1')">Ab1</label></div>
                </td>
                <td class="s5 f05">
                    <div><label class="A1" class="A1" id="114" (click)="recupererNote('A1')">A1</label></div>
                </td>
                <td class="s5 f06">
                    <div><label class="Bb1" class="Bb1" id="115" (click)="recupererNote('Bb1')">Bb1</label></div>
                </td>
                <td class="s5 f07">
                    <div><label class="B1" id="116" (click)="recupererNote('B1')">B1</label></div>
                </td>
                <td class="s5 f08">
                    <div><label class="C2" class="C2" id="117" (click)="recupererNote('C2')">C2</label></div>
                </td>
                <td class="s5 f09">
                    <div><label class="Db2" id="118" (click)="recupererNote('Db2')">Db2</label></div>
                </td>
                <td class="s5 f10">
                    <div><label class="D2" class="D2" id="119" (click)="recupererNote('D2')">D2</label></div>
                </td>
                <td class="s5 f11">
                    <div><label class="Eb2" id="120" (click)="recupererNote('Eb2')">Eb2</label></div>
                </td>
                <td class="s5 f12">
                    <div><label class="E2" id="121" (click)="recupererNote('E2')">E2</label></div>
                </td>
                <td class="s5 f13">
                    <div><label class="F2" id="122" (click)="recupererNote('F2')">F2</label></div>
                </td>
                <td class="s5 f14">
                    <div><label class="Gb2" id="123" (click)="recupererNote('Gb2')">Gb2</label></div>
                </td>
                <td class="s5 f15">
                    <div><label class="G2" id="124" (click)="recupererNote('G2')">G2</label></div>
                </td>
                <td class="s5 f16">
                    <div><label class="Ab2" id="125" (click)="recupererNote('Ab2')">Ab2</label></div>
                </td>
                <td class="s5 f17">
                    <div><label class="A2" id="126" (click)="recupererNote('A2')">A2</label></div>
                </td>
                <td class="s5 f18">
                    <div><label class="Bb2" id="127" (click)="recupererNote('Bb2')">Bb2</label></div>
                </td>
                <td class="s5 f19">
                    <div><label class="B2" id="128" (click)="recupererNote('B2')">B2</label></div>
                </td>
                <td class="s5 f20">
                    <div><label class="C3" id="129" (click)="recupererNote('C3')">C3</label></div>
                </td>
                <td class="s5 f21">
                    <div><label class="Db3" id="130" (click)="recupererNote('Db3')">Db3</label></div>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <p-toast position="top-center" (onClose)="onReject()" class="toast"></p-toast>
        <br>
        <button pButton type="button" id="ecoute" label="Ecoute" (click)="activeListen()" [disabled]=!isActivated></button>
        <button pButton type="button" id="mute" label="Mute" class="ui-button-danger" (click)="mute()" [disabled]="isActivated"></button>
        <br>
        <p-dropdown [options]="gammes" (onChange)="selectedGamme($event)"></p-dropdown>
    </div>
    <div class="ui-g">
        <div class="ui-g-6">
            <form>
                <h4>Note sélectionné : {{noteSelect}} </h4>
                <!-- <p-dropdown [options]="gammes" (onChange)="selectedGamme($event)"></p-dropdown> -->
                <button pButton type="button" label="Soumettre la note" class="ui-button-success" (click)="onSoumettreBack()"></button>
            </form>
        </div>
        <div class="ui-g-6">
            <div *ngIf="!isActivated">
                <form>
                    <h4>Note détecté : {{noteDetectedEcoute}} | Fréquence : {{frequency}} Hz </h4>
                </form>
            </div>
        </div>
    </div>
    <p-accordion [multiple]="true" *ngFor="let historique of historiques">
        <p-accordionTab header="Note joué n°{{historique.index}}">
            Note : <label>{{historique.note}}</label><br> Gamme : <label>{{historique.gamme}}</label><br> Notes suggérées : <label>{{historique.listeNotes}}</label>
        </p-accordionTab>
    </p-accordion>
</div>
