body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
    width: 100%;
    height: 500px;
}

// #center {
//     text-align: center;
// }
.center {
    text-align: center;
}

.center button {
    margin: 10px;
}

#licorneGauche {
    float: left;
}

#licorneDroite {
    float: right;
}