<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-steps [model]="items" [(activeIndex)]="activeIndex" styleClass="steps-custom"></p-steps>
<h1 *ngIf="step1" class="center">Step 1: Mi 82.40 Hz</h1>
<h1 *ngIf="step2" class="center">Step 2: La 110Hz</h1>
<h1 *ngIf="step3" class="center">Step 3: Ré 146.83 Hz</h1>
<h1 *ngIf="step4" class="center">Step 4: Sol 196 Hz</h1>
<h1 *ngIf="step5" class="center">Step 5: Si 246.94 Hz</h1>
<h1 *ngIf="step6" class="center">Step 6: Mi Aigu 329.63 Hz</h1>
<h1 *ngIf="accordagefinit" class="center"><img src="./assets/images/licorne_gif.gif" alt="" *ngIf="accordagefinit" id="licorneGauche">Félicitation! Votre guitare est accordée !<img src="./assets/images/licorne_reverse_gif.gif" alt="" *ngIf="accordagefinit" id="licorneDroite"></h1>

<div>
    <h1 class="center">Simulation : <br>
        <img src="./assets/images/ok.png" alt="" *ngIf="step1Ok">
        <button pButton type="button" label="Step1" class="ui-button-info" (click)="simulationStep1()"></button>
        <img src="./assets/images/ok.png" alt="" *ngIf="step2Ok">
        <button pButton type="button" label="Step2" class="ui-button-info" (click)="simulationStep2()"></button>
        <img src="./assets/images/ok.png" alt="" *ngIf="step3Ok">
        <button pButton type="button" label="Step3" class="ui-button-info" (click)="simulationStep3()"></button>
        <img src="./assets/images/ok.png" alt="" *ngIf="step3Ok">
        <button pButton type="button" label="Step4" class="ui-button-info" (click)="simulationStep4()"></button>
        <img src="./assets/images/ok.png" alt="" *ngIf="step4Ok">
        <button pButton type="button" label="Step5" class="ui-button-info" (click)="simulationStep5()"></button>
        <img src="./assets/images/ok.png" alt="" *ngIf="step5Ok">
        <button pButton type="button" label="Step6" class="ui-button-info" (click)="simulationStep6()"></button>
        <img src="./assets/images/ok.png" alt="" *ngIf="step6Ok">
        <button pButton type="button" label="Terminé" class="ui-button-info" (click)="allIsReady()" id="fire"></button>

    </h1>
</div>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<div id="chartdiv"></div>
<!-- <h1 id="center">{{this.frequency}}</h1> -->